{% extends "base.html" %}
{% block content %}
    <style>
     .row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    </style>
    <div class="row text-center">
        <h1>Inf&oacute;rmate, aprende y crea</h1>
        <p style="font-size: 15px">
            Consigue documentaci&oacute;n y m&aacute;s informaci&oacute;n sobre el mundo de los comics consultando
            la API de <a href="https://comicvine.gamespot.com">ComicVine de Appspot &#8482;</a>. Sólo así podras crear
            obras fieles a una temática, consistentes y bien ambientadas.
        </p>
        <p style="font-size: 18px;">Así que ¿A qué esperas?</p>
        <hr/>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">B&uacute;squeda externa</h3>
            </div>
            <div class="panel-body">
                <label for="form-search-field" class="control-label">T&eacute;rmino de B&uacute;squeda</label>
                <input type="text" name="search-term" class="form-control" id="form-search-field"
                       placeholder="Introduce algo para buscar..."/>
                <button onclick="handleNewRequest()" class="form-control btn btn-success">Buscar</button>
            </div>

            <div class="panel-footer text-justify">
                <p>Las b&uacute;squedas externas se realizan en la API de
                    <a href="https://comicvine.gamespot.com/api/">ComicVine &#8482;</a>.
                    <br/>
                    <br/>
                    <i>Los resultados son para uso no comercial.</i>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="error-lbl" class="label label-danger" style="font-size: 20px"></div>
        <div id="results" class="row">

        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let searchTermInput = undefined;
        let searchTerm = undefined;
        let flasher = undefined;
        $(function(){
            searchTermInput = $('#form-search-field');
            flasher = $('#flasher');
        });

        handleNewRequest = () => {
            searchTerm = searchTermInput.text().trim();
            if(searchTerm === "") {
                return flash("introduce algo")
            }
        };

        populateList = (series) => {

        };

        flash = (msg) => {

        }
    </script>
{% endblock scripts %}