{%  extends "base.html" %}
{% block content %}
    <div>
        <h5 id="status-code">Status: <b>{{ code }}</b></h5>
        <h3 id="title"></h3>
        <p id="hint"></p>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(function () {
                const code = Number.parseInt('{{ code }}');
                const hint = '{{ hint }}'.trim();
                let title = 'Algo fue mal';


                if (code < 300) {//2XX y 1XX
                    title = 'La operación se ha realizado con éxito';
                } else if (code < 400) {//3XX
                    title = 'Has sido redirigido';
                } else if (code < 500) {//4XX
                    title = 'Hubo un problema con tu petición';
                } else {
                    title = 'El servicio no está disponible';
                }

                $('#title').text(`${title}`);
                $('#hint').text(`${hint}`);
            }
        )
    </script>
{% endblock scripts %}

