{%  extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Nuevo Sketch <span class="glyphicon glyphicon-plus" style="color: #ffe57f" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputTitle" class="col-sm-3 control-label">T&iacute;tulo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" value="{{ title }}" name="inputTitle" id="inputTitle" placeholder="T&iacute;tulo del sketch">
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="inputCreatedAt" class="col-sm-3 control-label">Fecha de creaci&oacute;n:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputCreatedAt" id="inputCreatedAt"
                           placeholder="Fecha de creacion" value="{{ createdAt }}">
                </div>
            </div> -->
           
            <div class="form-group">
                <label for="inputScore" class="col-sm-3 control-label">Puntuaci&oacute;n</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" name="inputScore" id="inputScore"
                           placeholder="Puntuaci&oacute;n del sketch" value="{{ score }}">
                </div>
            </div>
                    
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-warning">Crear Sketch</button> 
            </div>   
            
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
    <script>
    /*
        const DEF_IMG_URL = '/static/img/default.jpg';
        var ALERTOR = undefined

        function onImageChange(event) {

            if(ALERTOR === undefined) ALERTOR = $('#preview-alert');

            var val = event.currentTarget.value;
            console.log(val)
            val = (val !== undefined && val.trim() !== "")  ? val : DEF_IMG_URL;
            console.log(`Valor actual _${val}_`);
            if (val.startsWith('https://')|| val.startsWith("http://") || val.startsWith("/static/img/")) {
                $('#image-preview').attr('src', val);
                ALERTOR.attr('hidden', 'true');
            } else {
                ALERTOR.removeAttr('hidden');
            }
        }

        function onImgError() {
            var mod = $('#image-preview');
            if (!mod.is('img')) {
                //Si no se encuentra 'image-preview' no intentar para evitar (ciclos)
                //alert(`HTML Element was expected to be img. Found ${mod} instead.` )
                return;
            }
            ALERTOR.removeAttr('hidden');
        }
        */
    </script>
{% endblock content %}