{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Series <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
<a class="btn btn-primary" href="/series/new">
    Crear serie
    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if series.count() > 0 %}
<div class="row">
	<!--  Botonera izquierda -->
    <div class="col-md-2">
		<a class="btn btn-primary" href="/series/mostViewed/">
   			Más vistas
    		<span style="margin-left: 5px;" aria-hidden="true"></span>
    	</a>
    	<br><br>
    	<a class="btn btn-primary" href="/series/bestScore/">
   			Mejor puntuación
    		<span style="margin-left: 5px;" aria-hidden="true"></span>
    	</a>
    </div>
    
    <div class="col-md-8">
        <table class="table" >
            <thead>
            <th>T&iacute;tulo</th>
            <th>Nombre del Autor</th>
            <th>Email del autor</th>
            <th>Puntuaci&oacute;n</th>
            <th>Visualizaciones</th>
            <th>Opciones</th>
            </thead>
			<!-- <tbody id="dataTable"> -->
            <tbody>
            {% for s in series %}
            <tr>
                <td>{{ s.title }}</td>
                <td>{{ s.author_name }}</td>
                <td>{{ s.author_email }}</td>
                <td>{{ s.score }}</td>
                <td>{{ s.views }}</td>
                <td>
                	<a class="btn btn-info" href="/series/show/{{ s.key().id() }}">
                		<span class="glyphicon glyphicon-eye-open"></span>
                	</a>
                </td>
                <td>
                	<a class="btn btn-warning" href="/series/edit/{{ s.key().id() }}" >
                		<span class="glyphicon glyphicon-pencil"></span>
                	</a>
                </td>
                
                <td>
                	<a class="btn btn-danger" href="/series/delete/{{ s.key().id() }}">
                		<span class="glyphicon glyphicon-trash"></span>
                	</a>
                </td>
                <td>
                	<a class="btn btn-primary" href="/series/{{ s.key().id() }}/sketches/new">
                		<span class="glyphicon glyphicon-plus"></span>
                		<span class="glyphicon glyphicon-picture"></span>
                	</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen series todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}
	
	<script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
   </script>
   
{% endblock content %}